@font-face {
	font-family: 'NewsGothicCondensed';
	src: url('../font/NewsGothicCondensed.ttf');
  }
  html {
  font-family: 'NewsGothicCondensed', sans-serif;
  font-size: 14px;
  background: linear-gradient(45deg, rgba(45,187,255,1) 0%, rgb(255 255 255 / 25%) 40%);
}


body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}






.container-patient {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

h3 {
  margin: 0 0 10px;
}

p {
  margin: 5px 0;
}



/* modal  */
/* Styles pour la modale */
.modal {
  display: none; /* Masqué par défaut */
  position: fixed; /* Reste en place */
  z-index: 1; /* Au-dessus de tout */
  left: 0;
  top: 0;
  width: 100%; /* Pleine largeur */
  height: 100%; /* Pleine hauteur */
  overflow: auto; /* Ajoute un défilement si nécessaire */
  background-color: rgba(0, 0, 0, 0.4); /* Fond noir semi-transparent */
  opacity: 1; /* Opacité à 1 pour le fond */
  transition: opacity 0.3s; /* Transition en douceur */
  }

.modal.show {
  display: block; /* Affiche la modale */
}

.modal.hide {
  animation: slide-in-fwd-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* Ajustez le pourcentage pour déplacer la modale */
  padding: 20px;
  border: 2px solid #000000;
  border-bottom-right-radius: 60px;
  text-align: center;
  width: 80%; /* Ajustez la largeur selon vos besoins */
  max-width: 500px; /* Largeur maximale */
  border-radius: 10px; /* Coins arrondis */
  border-top-right-radius: 0;
  border-bottom-left-radius: 60px;
  animation: slide-in-blurred-bottom 0.5s forwards; /* Animation d'apparition */
}

.modal.hide .modal-content {
  animation: slide-out-blurred-top 0.5s forwards; /* Animation de disparition */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  display: grid;
  justify-content: center;
  font-size: 20px;

}

.form-control{
  text-align: center;
  font-size: 18px;
}

 @-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

 @-webkit-keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-3 10:27:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


